html {

}

header {
    background-color: #040508;
    border-bottom: 5px solid #a51b1b;
    margin-bottom: 20px;
}
header .navbar {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
header .navbar-inverse {
    background-color: transparent;
    border: 0;
}
header #logo {
    height: 50px;
    width: 159px;
}

#input {
    padding-bottom: 5% ;
    padding-top: 5%;
    font-size: small;
    font-family: "Trebuchet MS";
}

.tab {
    font-size: small;
    font-family: "Trebuchet MS";
}

table {
    font-size: small;
    font-family: "Trebuchet MS";
}

table th {
    text-align: left;
    /*width: 75px;*/
}

