<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" href="#" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">{{model.exp.name}} - {{model.exp.code}}</h2>
    </div>
    <div class="modal-body">
        Project: {{model.tab | uppercase}}
        <br>
        Release: Ocata
        <br>
        Message: {{model.exp.msg}}
        <hr>
        <h4><u>Description</u></h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nisl erat, gravida a finibus sed,
        mollis non justo. Suspendisse aliquam tincidunt ipsum, sed condimentum massa maximus quis.
        Vestibulum bibendum vulputate pretium. Pellentesque venenatis non lorem non posuere. Suspendisse
        commodo fringilla velit, non posuere orci lobortis a.
        <br>
        Phasellus erat orci, auctor at sollicitudin scelerisque, pretium quis dui. Nam tincidunt purus lorem.
        Vivamus facilisis condimentum felis bibendum
        mollis. Nullam eleifend massa ornare, porta libero eu, consequat sem. Maecenas ornare justo sodales,
        venenatis justo luctus, luctus felis.
        <hr>
        <h5>Root Cause:</h5>
        Sed faucibus vitae felis dictum auctor. Sed hendrerit mattis
        dolor id finibus. In eget tortor vel nunc vehicula semper eget auctor urna. Phasellus eu velit a mi
        mattis commodo.

        <hr>
        <form>
            <span>Comments: </span>
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>User 1</strong> <span class="text-muted">commented 5 days ago</span>
                    </div>
                    <div class="panel-body">
                        In non arcu a elit vehicula sodales. Cras convallis purus a placerat auctor.
                        Donec purus massa, bibendum eget leo non, ultrices porta odio. Donec non porta lacus.
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>User 2</strong> <span class="text-muted">commented 10 mins ago</span>
                    </div>
                    <div class="panel-body">
                        Ut lacus purus, pulvinar vel porta a, rhoncus vel risus. Sed erat libero, imperdiet
                        et porta sed, rhoncus eu lacus. Suspendisse auctor mauris risus, nec aliquet sem
                        pulvinar eget. Nulla quis mauris nisl.
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div>

            <div class="form-group">
                <label for="message-text" class="form-control-label">Comment:</label>
                <textarea class="form-control" id="message-text"></textarea>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <a href="#" ng-click="$close()">Close</a>
    </div>
</div>
